<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        {% include 'header.html' %}
    <!--Add review form here -->
    <main class="container mt-3">
    <form action="{% url 'djangoapp:add_review' dealer_id %}"  method="post">
    {% csrf_token %}
    
    <h1 class="h3 mb-3 fw-normal">Add Review</h1>
        <p>Enter the review content:</p>
        <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
        <input class="form-check-input mt-3 ml-1" type="checkbox" name="purchasecheck" id="purchasecheck">
        <label class="form-check-label mt-2 ml-4" for="purchasecheck">Check me out if you have purchased the car.</label>
        
        <div class="form-group">
            <label for="carmodel" class="font-weight-bold">Input your car model:</label>
            <textarea class="form-control" id="carmodel" name="carmodel" rows="1" style="max-width: 10%;" required></textarea>
            <label for="carmake" class="font-weight-bold">Input your car make:</label>
            <textarea class="form-control" id="carmake" name="carmake" rows="1" style="max-width: 10%;" required></textarea>
            <label for="caryear" class="font-weight-bold">Input your car year:</label>
            <textarea class="form-control" id="caryear" name="caryear" rows="1" style="max-width: 10%;" required></textarea>
            
        </div>

        
          <label for="purchasedate" class="mt-3 font-weight-bold" >Select Your Purchase Date:</label>
         <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" style="max-width: 10%;">
        
        </div>
    </select>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" style="max-width: 8%;">Submit</button>
    
  </form>
  </main>
    </body>

     <script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
</html>